body{
  background-image: url(Images/Farming.jpg);
  background-size: cover ;
  background-position: center;
  background-repeat: no-repeat;
  border-image: fill url(Images/Farming.jpg) 30 round;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(5px);
  width: 100%;
  max-width: 500px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}
.weather-info{
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #030303;
}
#MyTitle{
  margin-bottom: 20px;
  color: #08bb11;
}

input[type="text"]{
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
button{
  padding: 10px 20px;
  background-color: #059062;
  color: rgb(15, 13, 13);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
.advice{
  margin-top: 20px;
  font-size: 18px;
  color: #d61616;
}
#adviceText{
  font-weight: bold;
  color: #161817;
}
button:hover{
  background-color: #047a4c;
}